// common
@import 'reset';
@import 'fonts';
@import 'base';
@import 'vars';

// blocks
@import './blocks/button';

@import './blocks/section';
@import './blocks/heading';
@import './blocks/header';
@import './blocks/footer';
@import './blocks/logo';
@import './blocks/icon';
@import './blocks/link';
@import './blocks/work';
@import './blocks/subscribe';
@import './blocks/social';
@import './blocks/copyright';
@import './blocks/header-nav';
@import './blocks/footer-nav';
@import './blocks/app';

@import "./page-blocks/promo";
@import "./page-blocks/our-services";
@import "./page-blocks/mission";
@import "./page-blocks/works-preview";
@import "./page-blocks/works";
@import "./page-blocks/blog";

// media
@import 'media';
