// media
$notebook-width: '(max-width: 1366px)';
$tablet-width: '(max-width: 1250px)';
$vertical-tablet-width: '(max-width: 769px)';
$phone-width: '(max-width: 767px)';
$vertical-phone-width: '(max-width: 479px)';
