// durations
$duration: 0.35s;

// colors
$bg-color: #FFF;
$text-color: #333333;
$brand-color: #EC6B37;

$border-color: #D8D8D8;
$note-color: #858585;
$gray-color: #F7F8FA;

$opacity: 0.6;

//sizes
$content-width: 1200px;

// gap
$desktop-gap: 40px;
$tablet-gap: 24px;
$phone-gap: 20px;

// fonts
$font: 'Roboto', Helvetica, sans-serif;
$font-size: 14px;
$line-height: 1.4;
$bold: 700;

