// durations
$duration: 0.35s;

// colors
$bg-color: #FFF;
$text-color: #333333;
$orange: #EC6B37;
$green: #57AE79;

$border-color: #D8D8D8;
$note-color: #858585;
$gray: #F7F8FA;

$opacity: 0.6;

//sizes
$content-width: 1200px;
$header-height: 105px;

// gap
$desktop-gap: 40px;
$tablet-gap: 30px;
$phone-gap: 15px;

// fonts
$font: 'Roboto', Helvetica, sans-serif;
$font-size: 25px;
$tablet-font-size: 18px;
$line-height: 1.5;
$bold: 700;

