@import "../vars";
@import "../media";

.promo {
  display: flex;
  padding-top: 70px;

  @media (max-width: 1800px) {
    min-height: calc(100vh - #{$header-height});
    //max-height: 800px;
  }

  @media #{$tablet-width} {
    min-height: initial;
    max-height: initial;
  }

  &__section {
    display: flex;
    flex: 1;
    flex-direction: column;

    @media #{$tablet-width} {
      min-height: initial;
      max-height: initial;
    }
  }

  &__empty {
    flex: 1;

    @media #{$tablet-width} {
      display: none;
    }
  }

  &__wrapper {
    display: flex;

    @media #{$phone-width} {
      flex-direction: column-reverse;
    }
  }

  &__media {
    flex: 1 1 470px;

    @media #{$phone-width} {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    flex: 1 1 100%;
    max-width: 670px;
    margin-left: 100px;
    padding-bottom: 55px;

    @media #{$phone-width} {
      display: block;
      margin: 0 0 15px;
      padding: 0;
    }
  }

  &__label {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 45px;

    @media #{$tablet-width} {
      font-size: 25px;
    }
  }

  &__link {
    display: block;
    margin-top: 25px;
    font-size: 16px;

    @media #{$phone-width} {
      display: none;
    }
  }

  &__content-wrapper {
    flex: 1;
  }
}
