@import '../vars';
@import '../media';

.copyright {
  @media #{$phone-width} {
    margin-top: 25px;
  }

  &__item {
    margin-bottom: 10px;
    font-size: 14px;
  }

  & .copyright__item:last-of-type {
    margin-bottom: 0;
  }
}