@import "../vars";
@import "../media";

.footer {
  background-color: $gray;

  &__section {
    &_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 150px;

      @media #{$tablet-width} {
        display: block;
        height: auto;

        padding: 25px $tablet-gap;
      }

      @media #{$phone-width} {
        padding: 25px $phone-gap;
      }
    }
  }

  &__line {
    background-color: $border-color;
    height: 1px;
  }

  &__contacts {
    margin-right: 70px;
    & .footer__contacts-link:last-of-type {
      margin-bottom: 0;
    }

    @media #{$phone-width} {
      margin-bottom: 25px;
    }
  }

  &__contacts-link {
    display: block;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: $bold;
  }

  &__info {
    display: flex;

    @media #{$tablet-width} {
      justify-content: space-between;
    }

    @media #{$phone-width} {
      display: block;
    }
  }
}