@import "../vars";
@import "../media";

.header {
  padding: 30px 0;

  &__section {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;

    @media (max-width: 1400px) {
      max-width: $content-width;
      margin-bottom: 50px;
    }

    @media #{$phone-width} {
      margin-bottom: 20px;
    }
  }
}