@import '../vars';
@import '../media';

.heading {
    font-weight: $bold;
    font-size: 18px;

    &_size {
        &_s {
            font-size: 25px;

            @media #{$tablet-width} {
                font-size: 18px;
            }
        }
        &_m {
            font-size: 32px;
        }
        &_l {
            font-size: 45px;

            @media #{$tablet-width} {
                font-size: 25px;
            }
        }
        &_xl {
            font-size: 80px;
            line-height: 1.2;
        }
        &_xxl {
            font-size: 130px;
            line-height: 0.9;

            @media #{$tablet-width} {
                font-size: 60px;
            }

            @media #{$phone-width} {
                font-size: 45px;
            }
        }
    }
}
