@import "../vars";
@import "../media";

.header-nav {
  display: flex;

  @media #{$phone-width} {
    display: none;
  }

  &__item {
    margin-right: 32px;
    list-style-type: none;
  }

  &__link {
    font-size: 14px;
    font-weight: $bold;
  }

  & .header-nav__item:last-of-type {
    margin-right: 0;
  }
}