@import "../vars";
@import "../media";

.work {
  &__image {
    margin-bottom: 35px;

    @media #{$phone-width} {
      margin-bottom: 15px;
    }
  }

  &__label {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: $bold;
  }
}